<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Ayahs</key>
		<integer>7</integer>
		<key>Name</key>
		<string>Al-Fatiha</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>286</integer>
		<key>Name</key>
		<string>Al-Baqara</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>200</integer>
		<key>Name</key>
		<string>Aal Imran</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>176</integer>
		<key>Name</key>
		<string>An-Nisa</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>120</integer>
		<key>Name</key>
		<string>Al-Ma'ida</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>165</integer>
		<key>Name</key>
		<string>Al-An'am</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>206</integer>
		<key>Name</key>
		<string>Al-A'raf</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>75</integer>
		<key>Name</key>
		<string>Al-Anfal</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>129</integer>
		<key>Name</key>
		<string>At-Tawba</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>109</integer>
		<key>Name</key>
		<string>Yunus</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>123</integer>
		<key>Name</key>
		<string>Hud</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>111</integer>
		<key>Name</key>
		<string>Yusuf</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>43</integer>
		<key>Name</key>
		<string>Ar-Ra'd</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>52</integer>
		<key>Name</key>
		<string>Ibrahim</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>99</integer>
		<key>Name</key>
		<string>Al-Hijr</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>128</integer>
		<key>Name</key>
		<string>An-Nahl</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>111</integer>
		<key>Name</key>
		<string>Al-Isra</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>110</integer>
		<key>Name</key>
		<string>Al-Kahf</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>98</integer>
		<key>Name</key>
		<string>Maryam</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>135</integer>
		<key>Name</key>
		<string>Ta-Ha</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>112</integer>
		<key>Name</key>
		<string>Al-Anbiya</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>78</integer>
		<key>Name</key>
		<string>Al-Hajj</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>118</integer>
		<key>Name</key>
		<string>Al-Muminun</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>64</integer>
		<key>Name</key>
		<string>An-Noor</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>77</integer>
		<key>Name</key>
		<string>Al-Furqan</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>227</integer>
		<key>Name</key>
		<string>Ash-Shu'ara</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>93</integer>
		<key>Name</key>
		<string>An-Naml</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>88</integer>
		<key>Name</key>
		<string>Al-Qasas</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>69</integer>
		<key>Name</key>
		<string>Al-Ankabut</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>60</integer>
		<key>Name</key>
		<string>Ar-Rum</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>34</integer>
		<key>Name</key>
		<string>Luqman</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>30</integer>
		<key>Name</key>
		<string>As-Sajda</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>73</integer>
		<key>Name</key>
		<string>Al-Ahzab</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>54</integer>
		<key>Name</key>
		<string>Saba</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>45</integer>
		<key>Name</key>
		<string>Fatir</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>83</integer>
		<key>Name</key>
		<string>Ya-Seen</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>182</integer>
		<key>Name</key>
		<string>As-Saaffat</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>88</integer>
		<key>Name</key>
		<string>Saad</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>75</integer>
		<key>Name</key>
		<string>Az-Zumar</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>85</integer>
		<key>Name</key>
		<string>Ghafir</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>54</integer>
		<key>Name</key>
		<string>Fussilat</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>53</integer>
		<key>Name</key>
		<string>Ash-Shura</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>89</integer>
		<key>Name</key>
		<string>Az-Zukhruf</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>59</integer>
		<key>Name</key>
		<string>Ad-Dukhan</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>37</integer>
		<key>Name</key>
		<string>Al-Jathiya</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>35</integer>
		<key>Name</key>
		<string>Al-Ahqaf</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>38</integer>
		<key>Name</key>
		<string>Muhammad</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>29</integer>
		<key>Name</key>
		<string>Al-Fath</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>18</integer>
		<key>Name</key>
		<string>Al-Hujurat</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>45</integer>
		<key>Name</key>
		<string>Qaf</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>60</integer>
		<key>Name</key>
		<string>Adh-Dhariyat</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>49</integer>
		<key>Name</key>
		<string>At-Tur</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>62</integer>
		<key>Name</key>
		<string>An-Najm</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>55</integer>
		<key>Name</key>
		<string>Al-Qamar</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>78</integer>
		<key>Name</key>
		<string>Ar-Rahman</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>96</integer>
		<key>Name</key>
		<string>Al-Waqia</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>29</integer>
		<key>Name</key>
		<string>Al-Hadid</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>22</integer>
		<key>Name</key>
		<string>Al-Mujadila</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>24</integer>
		<key>Name</key>
		<string>Al-Hashr</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>13</integer>
		<key>Name</key>
		<string>Al-Mumtahina</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>14</integer>
		<key>Name</key>
		<string>As-Saff</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>11</integer>
		<key>Name</key>
		<string>Al-Jumuah</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>11</integer>
		<key>Name</key>
		<string>Al-Munafiqoon</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>18</integer>
		<key>Name</key>
		<string>At-Taghabun</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>12</integer>
		<key>Name</key>
		<string>At-Talaq</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>12</integer>
		<key>Name</key>
		<string>At-Tahrim</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>30</integer>
		<key>Name</key>
		<string>Al-Mulk</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>52</integer>
		<key>Name</key>
		<string>Al-Qalam</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>52</integer>
		<key>Name</key>
		<string>Al-Haaqqa</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>44</integer>
		<key>Name</key>
		<string>Al-Maarij</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>28</integer>
		<key>Name</key>
		<string>Nooh</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>28</integer>
		<key>Name</key>
		<string>Al-Jinn</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>20</integer>
		<key>Name</key>
		<string>Al-Muzzamil</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>56</integer>
		<key>Name</key>
		<string>Al-Mudathir</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>40</integer>
		<key>Name</key>
		<string>Al-Qiyama</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>31</integer>
		<key>Name</key>
		<string>Al-Insan</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>50</integer>
		<key>Name</key>
		<string>Al-Mursalat</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>40</integer>
		<key>Name</key>
		<string>An-Naba</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>46</integer>
		<key>Name</key>
		<string>An-Naziat</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>42</integer>
		<key>Name</key>
		<string>Abasa</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>29</integer>
		<key>Name</key>
		<string>At-Takwir</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>19</integer>
		<key>Name</key>
		<string>Al-Infitar</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>36</integer>
		<key>Name</key>
		<string>Al-Mutaffifin</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>25</integer>
		<key>Name</key>
		<string>Al-Inshiqaq</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>22</integer>
		<key>Name</key>
		<string>Al-Burooj</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>17</integer>
		<key>Name</key>
		<string>At-Tariq</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>19</integer>
		<key>Name</key>
		<string>Al-'Ala</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>26</integer>
		<key>Name</key>
		<string>Al-Ghashiya</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>30</integer>
		<key>Name</key>
		<string>Al-Fajr</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>20</integer>
		<key>Name</key>
		<string>Al-Balad</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>15</integer>
		<key>Name</key>
		<string>Ash-Shams</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>21</integer>
		<key>Name</key>
		<string>Al-Lail</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>11</integer>
		<key>Name</key>
		<string>Ad-Dhuha</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>8</integer>
		<key>Name</key>
		<string>Ash-Sharh</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>8</integer>
		<key>Name</key>
		<string>At-Tin</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>19</integer>
		<key>Name</key>
		<string>Al-Alaq</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>5</integer>
		<key>Name</key>
		<string>Al-Qadr</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>8</integer>
		<key>Name</key>
		<string>Al-Bayyina</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>8</integer>
		<key>Name</key>
		<string>Az-Zalzala</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>11</integer>
		<key>Name</key>
		<string>Al-Adiyat</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>11</integer>
		<key>Name</key>
		<string>Al-Qaria</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>8</integer>
		<key>Name</key>
		<string>At-Takathur</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>3</integer>
		<key>Name</key>
		<string>Al-Asr</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>9</integer>
		<key>Name</key>
		<string>Al-Humaza</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>5</integer>
		<key>Name</key>
		<string>Al-Fil</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>4</integer>
		<key>Name</key>
		<string>Quraysh</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>7</integer>
		<key>Name</key>
		<string>Al-Ma'un</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>3</integer>
		<key>Name</key>
		<string>Al-Kawthar</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>6</integer>
		<key>Name</key>
		<string>Al-Kafirun</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>3</integer>
		<key>Name</key>
		<string>An-Nasr</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>5</integer>
		<key>Name</key>
		<string>Al-Masadd</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>4</integer>
		<key>Name</key>
		<string>Al-Ikhlas</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>5</integer>
		<key>Name</key>
		<string>Al-Falaq</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>6</integer>
		<key>Name</key>
		<string>Al-Nas</string>
	</dict>
</array>
</plist>
