<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Ayahs</key>
		<integer>7</integer>
		<key>Name</key>
		<string>الفاتحة</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>286</integer>
		<key>Name</key>
		<string>البقرة</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>200</integer>
		<key>Name</key>
		<string>آل عمران</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>176</integer>
		<key>Name</key>
		<string>النساء</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>120</integer>
		<key>Name</key>
		<string>المائدة</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>165</integer>
		<key>Name</key>
		<string>الأنعام</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>206</integer>
		<key>Name</key>
		<string>الأعراف</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>75</integer>
		<key>Name</key>
		<string>الأنفال</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>129</integer>
		<key>Name</key>
		<string>التوبة</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>109</integer>
		<key>Name</key>
		<string>يونس</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>123</integer>
		<key>Name</key>
		<string>هود</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>111</integer>
		<key>Name</key>
		<string>يوسف</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>43</integer>
		<key>Name</key>
		<string>الرعد</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>52</integer>
		<key>Name</key>
		<string>إبراهيم</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>99</integer>
		<key>Name</key>
		<string>الحجر</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>128</integer>
		<key>Name</key>
		<string>النحل</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>111</integer>
		<key>Name</key>
		<string>الإسراء</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>110</integer>
		<key>Name</key>
		<string>الكهف</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>98</integer>
		<key>Name</key>
		<string>مريم</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>135</integer>
		<key>Name</key>
		<string>طه</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>112</integer>
		<key>Name</key>
		<string>الأنبياء</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>78</integer>
		<key>Name</key>
		<string>الحج</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>118</integer>
		<key>Name</key>
		<string>المؤمنون</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>64</integer>
		<key>Name</key>
		<string>النور</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>77</integer>
		<key>Name</key>
		<string>الفرقان</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>227</integer>
		<key>Name</key>
		<string>الشعراء</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>93</integer>
		<key>Name</key>
		<string>النمل</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>88</integer>
		<key>Name</key>
		<string>القصص</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>69</integer>
		<key>Name</key>
		<string>العنكبوت</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>60</integer>
		<key>Name</key>
		<string>الروم</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>34</integer>
		<key>Name</key>
		<string>لقمان</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>30</integer>
		<key>Name</key>
		<string>السجدة</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>73</integer>
		<key>Name</key>
		<string>الأحزاب</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>54</integer>
		<key>Name</key>
		<string>سبأ</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>45</integer>
		<key>Name</key>
		<string>فاطر</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>83</integer>
		<key>Name</key>
		<string>يس</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>182</integer>
		<key>Name</key>
		<string>الصافات</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>88</integer>
		<key>Name</key>
		<string>ص</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>75</integer>
		<key>Name</key>
		<string>الزمر</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>85</integer>
		<key>Name</key>
		<string>غافر</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>54</integer>
		<key>Name</key>
		<string>فصلت</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>53</integer>
		<key>Name</key>
		<string>الشورى</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>89</integer>
		<key>Name</key>
		<string>الزخرف</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>59</integer>
		<key>Name</key>
		<string>الدخان</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>37</integer>
		<key>Name</key>
		<string>الجاثية</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>35</integer>
		<key>Name</key>
		<string>الأحقاف</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>38</integer>
		<key>Name</key>
		<string>محمد</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>29</integer>
		<key>Name</key>
		<string>الفتح</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>18</integer>
		<key>Name</key>
		<string>الحجرات</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>45</integer>
		<key>Name</key>
		<string>ق</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>60</integer>
		<key>Name</key>
		<string>الذاريات</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>49</integer>
		<key>Name</key>
		<string>الطور</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>62</integer>
		<key>Name</key>
		<string>النجم</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>55</integer>
		<key>Name</key>
		<string>القمر</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>78</integer>
		<key>Name</key>
		<string>الرحمن</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>96</integer>
		<key>Name</key>
		<string>الواقعة</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>29</integer>
		<key>Name</key>
		<string>الحديد</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>22</integer>
		<key>Name</key>
		<string>المجادلة</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>24</integer>
		<key>Name</key>
		<string>الحشر</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>13</integer>
		<key>Name</key>
		<string>الممتحنة</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>14</integer>
		<key>Name</key>
		<string>الصف</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>11</integer>
		<key>Name</key>
		<string>الجمعة</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>11</integer>
		<key>Name</key>
		<string>المنافقون</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>18</integer>
		<key>Name</key>
		<string>التغابن</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>12</integer>
		<key>Name</key>
		<string>الطلاق</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>12</integer>
		<key>Name</key>
		<string>التحريم</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>30</integer>
		<key>Name</key>
		<string>الملك</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>52</integer>
		<key>Name</key>
		<string>القلم</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>52</integer>
		<key>Name</key>
		<string>الحاقة</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>44</integer>
		<key>Name</key>
		<string>المعارج</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>28</integer>
		<key>Name</key>
		<string>نوح</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>28</integer>
		<key>Name</key>
		<string>الجن</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>20</integer>
		<key>Name</key>
		<string>المزمل</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>56</integer>
		<key>Name</key>
		<string>المدثر</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>40</integer>
		<key>Name</key>
		<string>القيامة</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>31</integer>
		<key>Name</key>
		<string>الإنسان</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>50</integer>
		<key>Name</key>
		<string>المرسلات</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>40</integer>
		<key>Name</key>
		<string>النبأ</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>46</integer>
		<key>Name</key>
		<string>النازعات</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>42</integer>
		<key>Name</key>
		<string>عبس</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>29</integer>
		<key>Name</key>
		<string>التكوير</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>19</integer>
		<key>Name</key>
		<string>الإنفطار</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>36</integer>
		<key>Name</key>
		<string>المطففين</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>25</integer>
		<key>Name</key>
		<string>الانشقاق</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>22</integer>
		<key>Name</key>
		<string>البروج</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>17</integer>
		<key>Name</key>
		<string>الطارق</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>19</integer>
		<key>Name</key>
		<string>الأعلى</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>26</integer>
		<key>Name</key>
		<string>الغاشية</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>30</integer>
		<key>Name</key>
		<string>الفجر</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>20</integer>
		<key>Name</key>
		<string>البلد</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>15</integer>
		<key>Name</key>
		<string>الشمس</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>21</integer>
		<key>Name</key>
		<string>الليل</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>11</integer>
		<key>Name</key>
		<string>الضحى</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>8</integer>
		<key>Name</key>
		<string>الشرح</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>8</integer>
		<key>Name</key>
		<string>التين</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>19</integer>
		<key>Name</key>
		<string>العلق</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>5</integer>
		<key>Name</key>
		<string>القدر</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>8</integer>
		<key>Name</key>
		<string>البينة</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>8</integer>
		<key>Name</key>
		<string>الزلزلة</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>11</integer>
		<key>Name</key>
		<string>العاديات</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>11</integer>
		<key>Name</key>
		<string>القارعة</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>8</integer>
		<key>Name</key>
		<string>التكاثر</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>3</integer>
		<key>Name</key>
		<string>العصر</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>9</integer>
		<key>Name</key>
		<string>الهمزة</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>5</integer>
		<key>Name</key>
		<string>الفيل</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>4</integer>
		<key>Name</key>
		<string>قريش</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>7</integer>
		<key>Name</key>
		<string>الماعون</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>3</integer>
		<key>Name</key>
		<string>الكوثر</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>6</integer>
		<key>Name</key>
		<string>الكافرون</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>3</integer>
		<key>Name</key>
		<string>النصر</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>5</integer>
		<key>Name</key>
		<string>المسد</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>4</integer>
		<key>Name</key>
		<string>الإخلاص</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>5</integer>
		<key>Name</key>
		<string>الفلق</string>
	</dict>
	<dict>
		<key>Ayahs</key>
		<integer>6</integer>
		<key>Name</key>
		<string>الناس</string>
	</dict>
</array>
</plist>
